@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Ubuntu";
    src: url("./assets/fonts/Ubuntu-Regular.ttf");
  }
}


#side-bar {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(assets/images/bg-sidebar-desktop.svg);
}

@media (max-width: 520px) {
  #side-bar {
    background-size: cover;
    background-image: url(assets/images/bg-sidebar-mobile.svg);
  }
}
